<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<div class="container">
    <h1>ToDo List</h1>
    <form onsubmit="addTask(); return false;">
        <input type="text" id="new-task" placeholder="New task title" required>
        <input type="text" id="new-description" placeholder="New task description" required>
        <input type="date" id="new-completion-date" placeholder="Completion date" required>
        <button type="submit">Add Task</button>
    </form>
    <div id="tasks" class="tasks-container"></div>
</div>
<div id="edit-popup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>Edit Task</h2>
        <form id="edit-form" onsubmit="submitEditForm(event)">
            <input type="text" id="edit-title" placeholder="Title" required>
            <input type="text" id="edit-description" placeholder="Description" required>
            <input type="date" id="edit-completion-date" required>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>
</body>
<script src="/static/js/scripts.js"></script>
</html>